configuration {
  modes: [ combi ];
  combi-modes: [ window, drun, run ];
  /* Laptop Font and sixe */
  font: "DejaVu Sans Mono 20";
}

@theme "gruvbox-dark"
element {
  orientation: horizontal;
  children: [element-icon,element-text ];
  spacing: 5px;
}

